<mjml>
    <%- include('./common/head.ejs'); %>

    <mj-body background-color="#f9fafc">
        <%- include('./common/header.ejs'); %>
        <mj-wrapper padding="10px 20px">
            <mj-section background-color="#ffffff" padding-top="0">
                <mj-column>

                    <mj-text>
                        Bonjour,
                    </mj-text>
                    <mj-text>
                        Vous êtes identifié comme administrateur de la base de transfert des voeux Affelnet pour la campagne en cours. L'activation de votre compte vous permettra d'accéder à la console d'administration et de suivi de cette campagne. Depuis cette console vous pourrez réaliser les opérations suivantes :
                        <ul>
                            <li>visualiser les organismes en attente, confirmé, activé et voeux téléchargés</li>
                            <li>rechercher un siret, une raison sociale, une académie ou un mail et connaître le statut associé</li>
                            <li>télécharger la liste des CFA injoignables, inconnus ou à relancer</li>
                            <li>visualiser le nombre de consultations de la page statistique par les académies. </li>
                        </ul>
                    </mj-text>

                    <mj-text>
                        En cas de difficultés, n'hésitez pas à contacter notre équipe support à l'adresse suivante :
                        <a href="mailto:voeux-affelnet@apprentissage.beta.gouv.fr">voeux-affelnet@apprentissage.beta.gouv.fr</a>
                    </mj-text>


                    <mj-button
                            href="<%= utils.getPublicUrl(`/activation?actionToken=${data.actionToken}`) %>"
                            background-color="#0e4194"
                            color="white"
                    >
                        J'active mon compte
                    </mj-button>

                    <%- include('./common/signature.ejs'); %>
                </mj-column>
            </mj-section>
        </mj-wrapper>
        <%- include('./common/footer.ejs'); %>
    </mj-body>
</mjml>
