<mjml>
  <%- include('./common/head.ejs'); %>

  <mj-body background-color="#f9fafc">
    <%- include('./common/header.ejs'); %>
    <mj-wrapper padding="10px 20px">
      <mj-section background-color="#ffffff" padding-top="0">
        <mj-column>
          <mj-text align="center" font-size="12px" line-height="20px">
            <a
              href="<%= utils.getPublicUrl(`/modifier-mot-de-passe?resetPasswordToken=${data.resetPasswordToken}`) %>"
              class="link-nostyle"
            >
              Lien de réinitialisation de mot de passe (valable 1h)
            </a>
          </mj-text>
          <%- include('./common/signature.ejs'); %>
        </mj-column>
      </mj-section>
    </mj-wrapper>
    <%- include('./common/footer.ejs'); %>
  </mj-body>
</mjml>
